@page "/comment/delete/{CommentId:int}"
@using AlexandriaWebApp.Shared.Models.Comment
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient http

<h3>Viewing Comment</h3>

@code {

}
