@page "/Category/Index"

@using AlexandriaWebApp.Shared.Models.Category
@inject HttpClient Http


<h3>Categories</h3>
<a href="/category/create">Create a Category</a>

@if (categories == null)
            {
                <p><em>Loading...</em></p>
}
else
            {
                @foreach (CategoryListItem category in categories)
                {
                    <div>
                        <a href="/Novel/NovelsInCategory/@category.Id">@category.Name</a>
                    </div>
                }
            }


@code {
    private List<CategoryListItem> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<List<CategoryListItem>>("Category");
    }
}
